.show-spot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
}

.title {
    align-self: flex-start;
    padding: 20px 0;
}

.title-location {
    align-self: flex-start;
    padding-bottom: 20px;
}

.image-gallery {
    width: 1000px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.side-images-collection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.preview-image-container {
    width: 480px;
    height: 380px;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
}

.side-image-container {
    max-width: 240px;
    max-height: 187.5px;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
}

.spot-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img1 {
    border-radius: 3% 0 0 3%
}

.img3 {
    border-radius: 0 5% 0 0
}

.img5 {
    border-radius: 0 0 5% 0
}

.spot-info {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.hosted-by {
    padding-bottom: 10px;
}

.spot-info-action-box {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: solid;
    border-color: rgb(113, 113, 113);
    border-width: 2px;
    border-radius: 10px;
    padding: 20px;
}

.price-per-night {
    display: flex;
    align-items: end;
    gap: 3px;
}

.review-totals {
    display: flex;
    align-items: center;
    gap: 5px;
}

.reserve-button {
    width: 300px;
    height: 50px;
    margin-top: 10px;
    color: white;
    background-color: #205072;
}

.line-break {
    width: 1000px;
    margin: 20px 0;
}

.review-section {
    align-self: flex-start;
}

.review-header {
    display: flex;
    align-items: center;
    gap: 5px;
}

.post-review-button {
    width: 150px;
    height: 30px;
    margin: 10px 0;
    color: white;
    background-color: #205072;
}

.review {
    padding: 10px 0;
}

.review-date {
    padding: 10px 0;
}

.delete-review-button {
    width: 75px;
    height: 25px;
    margin: 10px 0 10px 0;
    color: white;
    background-color: #205072;
}