.show-spot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
}

.image-gallery {
    width: 1000px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.side-images-collection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px; 
}

.spot-image {
    width: auto;
    height: 100%;
}

.preview-image-container {
    max-width: 480px;
    max-height: 380px;
    overflow: hidden;
}

.side-image-container {
    max-width: 240px;
    max-height: 187.5px;
    overflow: hidden;
}

.img1 {
border-radius: 3% 0 0 3%
}
.img3 {
border-radius: 0 5% 0 0
}
.img5 {
border-radius: 0 0 5% 0
}