.show-spot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
}

.show-spot>h2 {
    align-self: flex-start;
    padding-top: 15px;
    padding-bottom: 5px;
}

.show-spot>h3 {
    font-weight: 400;
    align-self: flex-start;
    padding-bottom: 20px;
}

.image-gallery {
    width: 1000px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.side-images-collection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    width: auto;
}

.preview-image-container {
    width: 490px;
    height: 380px;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
}

.side-image-container {
    max-width: 250px;
    max-height: 187.5px;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
}

.spot-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img1 {
    border-radius: 3% 0 0 3%
}

.img3 {
    border-radius: 0 5% 0 0
}

.img5 {
    border-radius: 0 0 5% 0
}

.spot-info {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.spot-info-text {
    text-overflow: ellipsis;
    overflow: hidden;
    overflow-wrap: break-word;
    margin-right: 50px;
}

.hosted-by {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.host-image-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.spot-feature {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.spot-feature-icon {
    font-size: 24px;
    margin-right: 10px;
}

.spot-feature-details>h3 {
    font-size: 16px;
}

.spot-feature-details>h4 {
    font-size: 16px;
    font-weight: 300;
}

.spot-info-action-box {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #e1e1e1;
    padding: 20px;
}

.spot-info-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.price-per-night {
    display: flex;
    align-items: end;
    gap: 3px;
}

.review-totals {
    display: flex;
    align-items: center;
    gap: 5px;
}

.reserve-button {
    width: 300px;
    height: 50px;
    color: white;
    background-color: #205072;
    border-radius: 5px;
    margin-top: 10px;
    transition: all .3s ease-in-out;
}

.reserved-button {
    width: 300px;
    height: 50px;
    color: white;
    background-color: rgb(42, 109, 42);
    border-radius: 5px;
    margin-top: 10px;
    transition: all .3s ease-in-out;
}

.reserve-button:hover {
    background-color: #2e6f9d;
}

.line-break {
    width: 1000px;
    margin: 20px 0;
}

.review-section {
    align-self: flex-start;
    margin-bottom: 25px;
}

.review-header {
    display: flex;
    align-items: center;
    gap: 5px;
}

.post-review-button {
    padding: 10px;
    margin: 10px 0;
    color: white;
    background-color: #205072;
    border-radius: 5px;
}

.review {
    padding: 10px 0;
}

.review-date {
    padding: 10px 0;
}

.delete-review-button {
    width: 75px;
    height: 25px;
    margin: 10px 0 10px 0;
    color: white;
    background-color: #205072;
}




.react-datepicker__aria-live {
    display: none;
    visibility: hidden;
}