.spot-index {
    flex: 1 0 21%;
    padding: 20px;
    height: 400px;

    display: grid;
    grid-template-areas:
        "img img img"
        "location location review"
        "price price price";
    grid-template-rows: 1fr 2em 2em;
    grid-template-columns: 1fr 1fr 1fr;
}

.image-container {
    /* display: inline-block;
    position: relative; */
    grid-area: img;
    width: auto;
    height: auto;
    overflow: hidden;
    border-radius: 5%;
}

img {
    width: auto;
    height: 100%;
    /* margin-left: -50px; */
    /* grid-area: img;
    height: 300px;
    max-width: 100%; */
}

.spot-index>.spot-location {
    grid-area: location;
    align-self: center;
}

.spot-index>.spot-review {
    grid-area: review;
    justify-self: end;
    align-self: center;
    display: flex;
    align-items: center;
}

.spot-index>.spot-price {
    grid-area: price;
    align-self: center;
}

.tooltip {
    visibility: hidden;
    position: relative;
    top: 1em;
    grid-area: img;
    justify-self: center;
    font-weight: bold;
    text-align: center;
    width: auto;
    height: fit-content;
    color: #ffffff;
    font-size: 12px;
    background-color: #329d9c;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
}

.spot-index:hover .tooltip {
    visibility: visible;
}