.create-spot-form {
    width: 500px;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 5px;
}



.create-spot-form>label {
    align-self: flex-start;
}

.create-spot-form>span {
    width: 100%;
    display: inline-block;
}

.create-spot-form>span>input {
    float: left;
    width: 100%;
}

.spot-form-button {
    display: block;
    width: 100%;
    height: 50px;
    color: white;
    background-color: #205072;
    margin-top: 20px;
}

.spot-form-button:disabled {
    color: #666666;
    background-color: #cccccc;
}