.spots-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 60px;
}

.spot-index {
    position: relative;
    padding: 20px 10px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.image-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 5%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px 1px rgb(255, 255, 255);
    transition: all 1s ease-out;
}

.image-container:hover {
    box-shadow: 0 0 10px 1px rgb(140, 140, 140);
    transition: box-shadow .1s ease-out;
}

.index-preview-image {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.spot-index-details {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5px;
    cursor: pointer;
}

.spot-index-details>h3 {
    font-size: 15px;
}

.spot-review {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spot-review>i {
    font-size: 12px;
    padding-right: 3px;
}

.spot-review>p {
    font-size: 15px;
}

.spot-location {
    align-self: center;
}

.spot-index-price {
    width: 300px;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.spot-index-price>h3 {
    font-size: 14px;
    margin-right: 3px;
}

.right-arrow,
.left-arrow {
    position: absolute;
    top: 150px;
    justify-self: center;
    text-align: center;
    border-radius: 50%;
    color: rgb(219, 219, 219, 0);
    font-size: 22px;
    cursor: pointer;
    transition: color .3s ease-out;
}

.left-arrow {
    left: 20px;
}

.right-arrow {
    right: 20px;
}

.spot-index:hover .right-arrow,
.spot-index:hover .left-arrow {
    color: rgba(255, 255, 255, 1);
    transition: color .5s ease-out;
}

.right-arrow:hover,
.left-arrow:hover {
    top: 149px;
    color: #ffffff;
    font-size: 24px;
    transition: all .1s ease-out;
}

.left-arrow:hover {
    left: 19px;
}

.right-arrow:hover {
    right: 19px;
}

.spot-index-buttons {
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.spot-index-button {
    display: block;
    width: 80px;
    height: 25px;
    color: white;
    background-color: var(--dark-blue);
    border-radius: 5px;
    margin-top: 20px;
}