@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

:root {
    --green: #55c595;
    --dark-blue: #215273;
    --light-blue: #2e6f9d;
}

button {
    border: none;
    cursor: pointer;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error {
    color: red;
    list-style-type: none;
    text-align: center;
}

.close-modal-icon {
    position: absolute;
    top: -30px;
    right: -30px;
    color: rgb(179, 179, 179);
    font-size: 24px;
    cursor: pointer;
}

.close-modal-icon:hover {
    color: rgb(255, 255, 255);
}