.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 80px;
    box-shadow: 0px 0px 4px rgba(59, 59, 59, 0.6);
    gap: 50px
}

.left-nav {
    padding-left: 2em;
    list-style-type: none
}

.right-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-right: 2em;
    gap: 10px;
    list-style-type: none
}

.new-spot-link {
    padding: 15px;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
}

.new-spot-link:hover {
    background-color: #20507223;
}

.new-spot-link>a {
    color: var(--green);
    font-weight: 900;
    text-decoration: none;
}

.logo-full {
    display: block;
    height: 3em;
}

.logo-mini {
    display: none;
    height: 3em;
}

.profile-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 90px;
    background-color: white;
    border: solid;
    border-color: var(--dark-blue);
    border-width: 2px;
    border-radius: 30px;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.profile-button:hover {
    background-color: #20507223;
}

.fa-solid.fa-bars {
    color: var(--dark-blue);
    font-size: 20px;
}

.fas.fa-user-circle {
    color: var(--dark-blue);
    font-size: 30px;
}

.profile-dropdown {
    min-width: 150px;
    width: auto;
    background-color: white;
    position: absolute;
    z-index: 1;
    top: 75px;
    right: 30px;
    padding: 20px;
    border: solid;
    border-color: var(--dark-blue);
    border-width: 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.profile-dropdown-divider {
    width: 100%;
    margin: 5px;
}

.logout-button {
    width: 80px;
    height: 30px;
    color: white;
    background-color: var(--dark-blue);
    border-radius: 5px;
}

.profile-login-button {
    width: 150px;
    height: 30px;
    color: white;
    background-color: var(--dark-blue);
    margin: 5px;
    border-radius: 5px;
}

.profile-signup-button {
    width: 150px;
    height: 30px;
    color: white;
    background-color: var(--green);
    margin: 5px;
    border-radius: 5px;
}

.hidden {
    display: none
}

/* iPad Pro and Small Screens */
@media (max-width: 1024px) {}

/* iPads and Tablets */
@media (max-width: 768px) {}

/* iPhones and Phones */
@media (max-width: 480px) {

    .logo-full {
        display: none;
    }

    .logo-mini {
        display: block;
    }

    .nav-bar {
        gap: 0;
        width: 100%;
    }

    .left-nav {
        padding-left: 1em;
    }

    .right-nav {
        padding-right: 1em;
    }
}