.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 60px;
    box-shadow: 0px 0px 4px rgba(59, 59, 59, 0.6);
    gap: 50px
}

.right-nav {
    display: flex;
    flex-direction: row;
}

.hidden {
    display: none
}